@page "/"

<PageTitle>Início</PageTitle>

<div class="container mt-5">
    <h1 class="text-center display-4">Raphael Rocha - Desafio Técnico</h1>

    <div class="mt-4 mb-4">
        <p class="lead text-center">
            Olá, obrigado pela oportunidade de realizar este desafio. Desde já, agradeço a chance que me foi dada de demonstrar minhas habilidades e técnicas.
        </p>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Tecnologias Utilizadas</h5>
            <p class="card-text">
                Para este projeto foi utilizado <strong>Blazor</strong> para o FrontEnd e <strong>.NET Core versão 8</strong> para o Backend.
            </p>
            <p class="card-text">
                O banco de dados utilizado foi o <strong>DynamoDB</strong> hospedado diretamente na <strong>AWS</strong> (utilizando o gratuito).
            </p>
        </div>
    </div>
</div>
