@page "/"

<PageTitle>Início</PageTitle>

<div class="container mt-5">
    <h1 class="text-center display-4 text-primary">Raphael Rocha - Desafio Técnico</h1>

    <div class="mt-4 mb-4">
        <p class="lead text-center text-secondary">
            Olá! Agradeço a oportunidade de realizar este desafio. Estou animado para demonstrar minhas habilidades e conhecimentos técnicos que desenvolvi ao longo da minha jornada profissional.
        </p>
    </div>

    <div class="card shadow-lg border-primary mb-4">
        <div class="card-body">
            <h5 class="card-title text-primary">Tecnologias Utilizadas</h5>
            <p class="card-text">
                Para este projeto, utilizei <strong>Blazor</strong> como framework para o FrontEnd e <strong>.NET Core versão 8</strong> para o Backend.
            </p>
            <p class="card-text">
                O banco de dados utilizado foi o <strong>DynamoDB</strong>, hospedado diretamente na <strong>AWS</strong> (utilizando o nível gratuito). Além disso, empreguei o <strong>Docker</strong> para criar e subir as imagens na máquina <strong>Amazon Linux.</strong> A criação da instância da máquina foi realizada com o <strong>CloudFormation</strong>, e o monitoramento foi configurado com o <strong>CloudWatch</strong>.
            </p>
        </div>
    </div>
</div>

